<div class="general">
<div class="signup">

<div class="left-column">
  <div class="content">
    <h1>Justikro form</h1>
    <h2>Inscription made cool</h2>
      <div class="line"> </div>
      <div class="value">
        <p> <%= image_tag 'flower.png' %> </p>
        <p>Un form de toute beauté </p>
      </div>

      <div class="value">
        <p> <%= image_tag 'strong.png' %> </p>
        <p> Un form efficace </p>
      </div>

      <div class="value">
        <p> <%= image_tag 'magic.png' %> </p>
        <p> Un form form-idable </p>
      </div>
  </div>
</div>

<div class="right-column">

  <div class="form">
    <p> Time to create your profile </p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Your email", class: "field1" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder:"Your password", class: "field2" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm your password", class: "field3" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "field4" %>
      </div>
      
      <%= link_to 'Forgot your password?', edit_user_password_path, class: "password" %> 
    <% end %>
  </div>

  <%= link_to "Log in", new_user_session_path, class: "login" %>

</div>
</div>

